@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Dancing+Script:wght@500;700&family=Montserrat:wght@500&family=Pacifico&family=Poppins:wght@400;500&family=Tilt+Prism&family=Ubuntu:wght@500&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overscroll-behavior: none;
}

span{
    font-size: 14px;
}

li{
    list-style: none;
}
#links li{
    margin-left: 6%;
    margin-right: 6%;
}

h3{
    color: rgb(56, 56, 56);
}
a{
    text-decoration: none;
    color: rgb(40, 40, 40);
}
li a:hover{
    color: rgb(0, 0, 255);
}
nav {

    display: flex;
    height: 65px;
    background-color: rgb(227, 228, 248);
    justify-content: space-around;
    width: 100%;
    position: fixed;
    z-index: 100;
}

#links{
    display: flex;
    align-items: center;
    width: 38%;
    
}
#searchbar{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 4px;
    
}
#searchbtn , #search_element{
    padding: 5px;
    border-radius: 6px;
    border-color: rgb(131, 131, 255);
}
#searchbtn{
    background-color: #5865f2;
    color: white;
    padding-left:15px;
    padding-right: 15px;
}
#searchbtn:hover{
    background-color: #3a4af9;
}
#searchbtn:active{
    box-shadow: 0 0 1px 1px rgb(48, 48, 48);
}
#logo
{
    display: flex;
    align-items: center;
    gap: 15px;
}
#logo_img{
    height: 100%;
    margin-left: 20px;
}

#menubar{
    position: relative;
}
#menu{
    font-size: 18px;
    display: none;
    transition:all 0.1s linear 0s;
}
#menuimg{
    width: 65%;
    border-bottom: 1px solid rgb(68, 68, 252);
}
#menu:hover{
    transform: scale(1.15);
}
#options li{
    padding: 5px;
    text-align: center;
}
#options{
    position: absolute;
    background-color: #cdd6fc;
    border-radius: 5px ;
    top: 44px;
    left: -350px;
    width: 140px;
    box-shadow: 0 0 3px 1px rgb(150, 150, 150);
}
.animation1{
    animation: 0.15s linear 0s 1 forwards slidingfor;
}
@keyframes slidingfor {
    from{
        left: -350px;
    }
    
    to{
        left: -40px;
    }
}

.animation2{
    animation: 0.15s linear 0s 1 backwards slidingback;
}

@keyframes slidingback {

    from{
        left: -40px;
    }

    to{
        left: -350px;
    }
    
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    padding-top: 75px;
    padding-left: 6.9%;
    padding-right: 6.9%;
}
.news{
    display: flex;
    flex-direction: column;
    width: 400px;

    border-radius: 7px;
    margin-top: 35px;
    gap: 15px;
    /* height: fit-content; */
    box-shadow: 0 0 5px 1px rgb(177, 176, 176);
    padding: 8px;
    transition: 0.5s height,width linear 0s;
}
.news:hover{
    transform:scale(1.003) ;
    box-shadow: 0 0 5px 2px rgb(177, 176, 176);
    
}
.news img{
    max-width: 100%;
    border-radius: 5px;
}

.image{
    max-height: 50%;
}

::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-thumb{
    background-color: #686868;
    border-radius: 4px;
}

#logo_img:hover{
cursor: pointer;
}